.ItemCard {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ItemCardContent {
    display: flex;
    flex-direction: column;
}

.ItemSlider {
    align-self: end;
    margin-top: 15px;
    margin-bottom: 15px;
}