.mi-card {
    width: 800px;
    flex-direction: column;
    margin: 5px;
    display: flex;
}

.mi {
    justify-items: center;
    display: grid;
}

.mi-field {
    width: 100%;
}

.mi-addbutton {
    justify-content: flex-end;
    display: flex;
}

tr.item-detail-row {
    height: 0;
}